/build
/bin
/lib
/include

*.aux
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc

/DQM4hepConfig.cmake
/DQM4hepConfigVersion.cmake
/cmake/DQM4hepConfig.cmake
/cmake/DQM4hepConfigVersion.cmake
/DQMCore/include/dqm4hep/DQM4hepConfig.h
