*.aux
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc

*Config*.cmake
build/
lib/
DQM4ILC/
DQMCore/
DQMViz/
doc/DQMCore/
doc/DQMViz/
bin/
conf/
dim/
dimjc/
icons/
include/
levbdim/
xdrlcio/
xdrstream/
mongoose-cpp/
apr/
apr-util/
apache-log4cxx/
jsoncpp/
web/
